<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <style>
      div.preview-images > img {
        width: 30%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="preview-images" style="text-align:center;margin-top:100px;">
              <% if(video != "") { %>
            <a class="btn btn-success" href="/upload/<%=video %>" target="_blank">Play</a>
            <a class="btn btn-primary" href="/download?name=<%=video %>">Download Video</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
